<html>
    <head>
        <title>Timer</title>
    </head>
    <body>
        <h1>Mein Timer <%= datum.Name%> <%= datum.ID%> </h1>
        <p id = "timerTarget">Darstellung </p>
        
        <form action= "login" id = "nutzer" method = "POST">
            <label for="name">Vorname</label>
            <input type="text" name="name" id="name" placeholder="Name">
            
            <label for="vorname">Vorname</label>
            <input type="text" name="vorname" id="vorname" placeholder="Vorname">
            
            <label for="email">Email</label>
            <input type="email" name="email" id="vorname" placeholder="Email">
            
            <label for="pasword">password</label>
            <input type="pasword" name="pwd" id="pwd" placeholder="12345">
            
            
            <input type="button" value="Start <%=datum.Name%> Interval!" onclick= "startTimer('<%=datum.ID%>','<%=datum.Interval%>')" /> <br/>
            <input type="button" value="Stop <%=datum.Name%> Interval!" onclick= "stopTimer('<%=datum.ID%>')" /> <br/>
            <input type="button" value="Beep in 2s" onclick= "setupBeep(2)" /> <br/>
            <input type= "button" value= "Sound" onclick= "PlaySound('beepSound')"><br/>
        </form>
        
    
        <audio id = "beepit" src= "media/best_alarm.mp3"></audio>
        
        <script>
            
            let timers = {};
            
            function PlaySound(soundObj){
                document.getElementById('beepit').play();
            }
            
            function beep(){
                var snd = new Audio("media/best_alarm.mp3");
                snd.play();
            }
            
            function setupBeep(insec){
               window.setTimeout(beep,insec*1000);
            }
            
            
            function timerload() {
                 const d = new Date();
                 document.getElementById("timerTarget").innerHTML = d.toLocaleTimeString();
            }
            
            function startTimer(id,interval){
                timers[''+id] = window.setInterval(timerload,interval*1000);
            }
            
            function stopTimer(id){
                clearTimeout(timers[''+id]);
                document.getElementById("timerTarget").innerHTML = "Timer stopped.";
            }
        </script>
        
    </body>
</html>